# 1.2 Extracción de datos

Se usaran librerías como sqlalchemy para conectar con la base de datos mysql y pandas para la extracción y manejo del dataframe y su posterior conversión a csv

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_connection_str = 'mysql+mysqlconnector://root:Prueba#001@localhost:33306/NTGroupTest'
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT * FROM Compras', con=db_connection)

Se comprueba que los datos se han extraído correctamente

In [3]:
df.head()

,id,company_name,company_id,amount,status,created_at,updated_at
0,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,voided,2019-03-19,\r\r
1,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,pending_payment,2019-05-06,\r\r
2,2cdce231c1fc6a2061bfa2f1d978351fe217245d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,voided,2019-02-22,\r\r
3,81633ba310a50b673efd469c37139576982901aa,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,102.61,paid,2019-02-27,2019-02-27\r\r
4,6ccfc4c24e788e4bca448df343698782db6b0c0b,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,184.49,paid,2019-02-05,2019-02-05\r\r

Finalmente se guarda en un archivo .csv

In [4]:
df.to_csv("../dataset/data_prueba_extraida.csv", index=False)