# Limpieza de datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/johnrfk/TestApiPy/dataset/data_prueba_tecnica.csv')
df.head()

,id,name,company_id,amount,status,created_at,paid_at
0,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-03-19,NaN
1,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,pending_payment,2019-05-06,NaN
2,2cdce231c1fc6a2061bfa2f1d978351fe217245d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-02-22,NaN
3,81633ba310a50b673efd469c37139576982901aa,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,102.61,paid,2019-02-27,2019-02-27
4,6ccfc4c24e788e4bca448df343698782db6b0c0b,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,184.49,paid,2019-02-05,2019-02-05

Hago un análisis rápido de los tipos de datos que capturó pandas al extraer el csv.

In [3]:
df.dtypes

id             object
name           object
company_id     object
amount        float64
status         object
created_at     object
paid_at        object
dtype: object

Se determina que la longitud de los ids son mayores a los que describe la tabla, por lo que se concluye que se medirá el máximo de los mismos.

In [4]:
df['id'] = df['id'].astype(str)
df['id'].apply(len).max

<bound method Series.max of 0       40
1       40
2       40
3       40
4       40
        ..
9995    40
9996    40
9997    40
9998    40
9999    40
Name: id, Length: 10000, dtype: int64>

Se busca si hay valores que sobrepasen lo que se debería permitir en la base de datos.

In [5]:
df['amount'].max()

2.9999999999999997e+34

Filtramos esos valores que sobrepasen los admitidos en la base de datos convirtiéndolos en 0.00.

In [6]:
df['amount'] = df['amount'].where(df['amount'] < pow(10, 16), 0.0)

Se exporta el dataframe a csv

In [7]:
df.to_csv("tosql.csv", index=False)